extends tex,r

snippet ch "Standard Chunk"
\`\`\`{${1:r}${2:}}
$3
\`\`\`
endsnippet

snippet RR "R inline chunk" a
\`r $1\`$0
endsnippet

snippet chv "Chunk surround visual"
```{r}
${VISUAL}
```
endsnippet
