snippet if "if block"
if (${1})
	${2}
endif
endsnippet

snippet try "try block"
try
	${1}
catch
	${2}
endtry
endsnippet

snippet for "for loop"
    for ${1:i in ${2}}
        ${3}
    endfor
endsnippet
