set editing-mode vi
$if editing-mode == vi
set keymap vi-command
Control-l: clear-screen
set keymap vi-insert
Control-l: clear-screen
$endif
set bell-style none
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set completion-prefix-display-length 7
set history-size 500
set mark-modified-lines on
set mark-symlinked-directories on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set skip-completed-text on
set visible-stats on

# Macros
# ALT-R
"\er": "~/R-4.1.0/bin/R"
